{% extends 'base.html.twig' %}


{%block body %}

    <h1> Bienvenue dans mon blogv Symfony ! </h1>

    <p>
    Dans ce projet j'ai essayé de coder un site web d'une base nautique, l'utilisateur pourra ainsi consulter les bases nautique,
    <br>
    regrader en détail tout le contenu des bases nautiques,
    <br>
    modifier une base nautique
    <br>
    et changement dynamique des contenus/boutton selon la fentre
    <br>
    example : 
    <br>
    pour ajouter une base il suffit d'aller à http://localhost:8000/nautique/new
    <br>
    pour modifier une base il faut aller à l'adresse suivante : http://localhost:8000/nautique/{id}/edit 
    <br> 
    dans {id} il suffit d'entrer l'id de la base qu'on aimerai modifier.
    <br>
    
    </p>


{%endblock%}