{% extends 'base.html.twig' %}


{% block body %}


    <base>
    
    <h2> {{base.name}} </h2>
    <ul>
    <li>{{base.description }} </li>
    <li>{{base.adresse }} </li>
    <li>{{base.city }} </li>

    </ul>
    </div
    
 
        
  
    </base>

{% endblock %}
